<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Edit Product</h6>
    </div>
    <div class="card-body">
        <form action="/admin/products/edit/<%= productData._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label for="name">Name</label>
              <input name="name" type="text" class="form-control" id="name" value="<%= productData.name %>" required>              
            </div>
            <div class="form-group">
              <label for="exampleFormControlFile1">Image</label>
              <% entries = productData.images.map(function(elem) {
                return '<img style="width: 100px; height: auto;" class="d-flex mb-2 mr-2" src="' + elem + '" alt="dsd"/>';
            }) -%>
            <p style="display: flex;"><%- entries.join("") %></p>
              <input name="images" type="file" accept="image/*" class="form-control-file" id="image" multiple>
              <small class="form-text text-muted">* Images can only be under 500kB.</small>
            </div>            
            <div class="form-group">
                <label for="name">Price</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">₹</span>
                  </div>
                  <input name="price" type="number" class="form-control" id="price" value="<%= price %>" required>                  
                </div>
                <small class="form-text text-muted">* Input number only.</small>
            </div>
            <div class="form-group">
              <label for="category">Product Type</label>
              <select name="category" class="form-control" id="category" required>
                  <option value="Sofa">Sofa</option>
                  <option value="Chair">Chair</option>
                  <option value="Bed">Bed</option>
                  <option value="Table">Table</option>
                  <option value="Desk">Desk</option>
                  <option value="Wardrobe">Wardrobe</option>
              </select>
            </div> 
            <div class="form-group">
              <label for="count">Available Stock</label>
              <input name="count" type="number" class="form-control" id="count" placeholder="Enter available stock" required>
              <small class="form-text text-muted">* Input number only.</small>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea name="description" class="form-control" id="description" rows="3" required><%= productData.description %></textarea>
            </div>
            <div class="d-flex flex-row-reverse mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/admin/products" class="btn btn-danger mr-2">Cancel</a>
            </div>
          </form>
    </div>
</div>